
*.pyc
frontend_controller/__pycache__/profileController.cpython-311.pyc
*.pyc
frontend_controller/__pycache__/profileController.cpython-311.pyc
frontend_model/__pycache__/cartModel.cpython-311.pyc
frontend_model/__pycache__/ordersModel.cpython-311.pyc
frontend_model/__pycache__/profileModel.cpython-311.pyc
frontend_model/__pycache__/cartModel.cpython-311.pyc
frontend_model/__pycache__/loginModel.cpython-311.pyc
*.pyc
*.pyc
